<mat-toolbar color="primary">
    <span>User Administration Panel</span>
    <span class="spacer"></span>
    Reload data:
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="container mat-elevation-z8">
  
    <!-- <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter issues">
      </mat-form-field>
    </div> -->
  
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      ng update @angular/cli @angular/core
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.Id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="UserName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>UserName</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.UserName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="IdRole">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.IdRole === 1">
                Admin
            </ng-container>
            <ng-container *ngIf="row.IdRole === 2">
                User
            </ng-container>
        </mat-cell>
      </ng-container>
  
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Add">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="startEdit(i, row.Id, row.UserName, row.Password, row.IdRole)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button [disabled]="row.Id === currentUser.Id" mat-icon-button color="accent" (click)="deleteItem(i, row.Id, row.UserName)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  
    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      No results
    </div>
  
    <mat-paginator #paginator
                   [length]="dataSource.filteredData.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  