<div class="main-div">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Login Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>UserName</mat-label>
              <input matInput required formControlName="user">
              <mat-error *ngIf="form.get('user').hasError('required')">Please enter an username</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput required formControlName="password" type="password">
              <mat-error *ngIf="form.get('password').hasError('required')">Please enter a password</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Log in</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

