<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout | async )?.miniCard.cols"
     [rowspan]="( cardLayout | async )?.miniCard.rows">
      <challenge-mini-card [title]="mc.title" [value]="mc.value" [color]="mc.color" [percentValue]="mc.percentValue" [icon]="mc.icon"></challenge-mini-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <challenge-card title="Non-Core Inflation Chart">
        <challenge-non-core-inflation-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></challenge-non-core-inflation-chart>
      </challenge-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <challenge-card title="Non-Core Inflation Table Data">
        <challenge-non-core-inflation-table [data]="sourceTable"></challenge-non-core-inflation-table>
      </challenge-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>
 